[submodule "realtimeutils"]
	path = realtimeutils
	url = ../../a-day-old-bagel/realtimeutils
[submodule "slikenet"]
	path = slikenet
	url = ../../slikesoft/slikenet
[submodule "discordcppsdk"]
	path = discordcppsdk
	url = ../../a-day-old-bagel/discordcppsdk
